.login-box {
  width: 60%;
  min-width: 300px;
  margin: auto;
  margin-top: 5%;
}

.title {
  margin-bottom: 30px;
}

.add-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 56px;
  height: 56px;
}

.align-right {
  text-align: right;
}

.modal {
  background-color: rgba(71,71,71,0.7);
}

.to-hide {
  display: none;
}

#keys-box {
  display: none;
}
